@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slide:nth-of-type(even) {
  background-color: #c4cdc4; /* slide-alt-bg */
}

/* Debug */
.debug-mode * {
  border: 1px solid red !important;
}
